.App {
  padding-top: 50px;

  header {
    background-color: var(--dark2);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px;

    nav {
      a {
        color: var(--lite1);
        text-decoration: none;
        font-size: 1.2em;
        text-transform: uppercase;
        padding: 0 15px;
      }
    }
  }
}