    .PersonCard {
      background-color: var(--dark2);
      color: var(--lite2);
      box-shadow: 5px 5px 10px var(--dark4);
      display: flex;
      flex-direction: column;

      div:first-child {

        >img {
          width: 100%;
        }

        >h3 {
          margin: 0;
          text-align: center;
        }
      }

      .data {
        flex: 1;
        padding: 10px;

        p {
          overflow: hidden;
          text-overflow: ellipsis;
          padding-top: 0;
          margin-top: 0;
        }

        p.label {
          padding-bottom: 0;
          margin-bottom: 0;
          font-weight: bold;
        }
      }
    }